@import "tailwindcss";

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    --primary-background-color: #353535;
    --secondary-background-color: #222222;
  }
  body {
    background-color: var(--secondary-background-color);
  }
  .navbar {
    background-color: var(--primary-background-color);
  }

  .main-content-area {
    background-color: var(--secondary-background-color);
  }

  .main-website-text-color {
    color: #e2e2e2;
    font-weight: 400;
  }
}
