@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    font-family: "Inter", sans-serif;
    --primary-background-color: #13013f;
    --secondary-background-color: #040020;
    --budget-card-color: #220077;
  }

  body {
    background-color: var(--secondary-background-color);
  }
  .navbar {
    background-color: var(--primary-background-color);
  }

  .main-content-area {
    background-color: var(--secondary-background-color);
  }

  .budget-card {
    background-color: var(--budget-card-color);
    color: #e2e2e2;
    border-radius: 10px;
  }

  .main-website-text-color {
    color: #e2e2e2;
    font-weight: 400;
    text-align: center;
  }
}
